M5Core2Hint/UiFlow/hintSystem.json
[{"id":"d03b212a2ac08648","type":"tab","label":"Hint System","disabled":false,"info":"","env":[]},{"id":"39bd31bf55b04c59","type":"group","z":"d03b212a2ac08648","name":"Mensaje Inicio","style":{"label":true},"nodes":["eaa957f4c0193ee6","3f5a2b4af92e6e6c","48802154281173ae","116f3d2a2f8bf08c","81a71889f46eabe1","20471d8a1251d6df","bd9417d407a16805","60d5d57fa6703ce9","ee2e208a9609ebda","e40d562b86e66787"],"x":14,"y":279,"w":562,"h":322},{"id":"933e9b51d9510f85","type":"group","z":"d03b212a2ac08648","name":"No ve el mensaje - espero","style":{"label":true},"nodes":["394b557ac9c274f7","3b7dddf74b677a8f","a70ba3addd0c029b","c5b4d76f48c079e1","d1dadd12cd0835ed","a1f2dada18d169af","df74fa28f7022330","adc6763d2d120419"],"x":1134,"y":399,"w":332,"h":342},{"id":"b2d8b4a357178b42","type":"group","z":"d03b212a2ac08648","name":"2do mensaje - Están solos?","style":{"label":true},"nodes":["d1a8e7ac7d563118","8120bd676afd402e","f8f08d54d7ababc0","b1a5295fc9839c23","88b183f0a47d4ae1","75573ba8ad640e68","c52735ab416e1a96"],"x":14,"y":639,"w":412,"h":262},{"id":"0f4f6f081f33361a","type":"group","z":"d03b212a2ac08648","name":"Volver al Inicio","style":{"label":true},"nodes":["c467989235282383","a51bebfdd8c7d0a1","431ea0f154b9b55a","17e5ad56a6ed5bfd","9be5b1aafbbb4f8d"],"x":234,"y":19,"w":252,"h":242},{"id":"601927a4e072b6ec","type":"group","z":"d03b212a2ac08648","name":"No están solos - esperar","style":{"label":true},"nodes":["93c8459166c648b9","1d66e4e60807ace7","dc4f42edbcca30fb","c5b5745f2d5da4fa","5b80c8fc393eeb1a","c16702d43bdb3a57","362690afa073cd30","09769b845a18c84f","54b4bb60153b3b02"],"x":1134,"y":799,"w":382,"h":362},{"id":"c133124137c8dbeb","type":"group","z":"d03b212a2ac08648","name":"Explica funcionamiento","style":{"label":true},"nodes":["62f05a0181a7062b","c9908ae6419c2682","e17920ae994f2656","470985f3691a0c25","04ec1dc3db07ac42","9c73b0dead1b80ae","490ad292986d845d","fd6f95e8f22135b9","ea663e183ebfd18f","4eaccd7d9340370d","8b297c15114cac66","7bacceb82a095e11"],"x":34,"y":979,"w":362,"h":502},{"id":"6aa6bc08c8ad896b","type":"group","z":"d03b212a2ac08648","name":"Fin presentacion","style":{"label":true},"nodes":["478e342c222ba994","15c03bab2e2c48ce","136c7f5cca53555d","701b70563a0c0bb9","95c5a7ce5d9ea081","4f6073c98e0158d1"],"x":514,"y":1139,"w":352,"h":282},{"id":"26b430d68773421f","type":"mqtt out","z":"d03b212a2ac08648","name":"send2device","topic":"rllabdevice","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2c374c481a01c20d","x":910,"y":240,"wires":[]},{"id":"e40d562b86e66787","type":"inject","z":"d03b212a2ac08648","g":"39bd31bf55b04c59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":380,"wires":[["eaa957f4c0193ee6"]]},{"id":"eaa957f4c0193ee6","type":"change","z":"d03b212a2ac08648","g":"39bd31bf55b04c59","name":"Inicial","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hola soy Cassandra, asistente del laboratorio, puedo entrar a los sensores pero no puedo verlos. Ves mi mensaje?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["48802154281173ae","60d5d57fa6703ce9"]]},{"id":"3f5a2b4af92e6e6c","type":"delay","z":"d03b212a2ac08648","g":"39bd31bf55b04c59","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":350,"y":400,"wires":[["116f3d2a2f8bf08c"]]},{"id":"116f3d2a2f8bf08c","type":"change","z":"d03b212a2ac08648","g":"39bd31bf55b04c59","name":"SI NO","rules":[{"t":"set","p":"payload","pt":"msg","to":"04","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":440,"wires":[["81a71889f46eabe1","60d5d57fa6703ce9"]]},{"id":"2fbf7bdd6c116563","type":"mqtt in","z":"d03b212a2ac08648","name":"reciboMsg","topic":"rllabdevicesend","qos":"2","datatype":"utf8","broker":"2c374c481a01c20d","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":720,"wires":[["0efa65f300516b0c"]]},{"id":"bd9417d407a16805","type":"change","z":"d03b212a2ac08648","g":"39bd31bf55b04c59","name":"EsperandoRespuesta","rules":[{"t":"set","p":"esperandoRespuesta","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":560,"wires":[[]]},{"id":"0efa65f300516b0c","type":"switch","z":"d03b212a2ac08648","name":"Estoy esperando respuesta?","property":"esperandoRespuesta","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":820,"wires":[["3c84778518f1b714"]]},{"id":"48802154281173ae","type":"change","z":"d03b212a2ac08648","g":"39bd31bf55b04c59","name":"","rules":[{"t":"set","p":"etapa","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":360,"wires":[["3f5a2b4af92e6e6c"]]},{"id":"3c84778518f1b714","type":"switch","z":"d03b212a2ac08648","name":"","property":"etapa","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":730,"y":760,"wires":[["9dc78c629514b44e"],["7f5c1fb4ce60ee8f"],["0103a2adababf980"]]},{"id":"9dc78c629514b44e","type":"switch","z":"d03b212a2ac08648","name":"Ver Respuesta","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"btnA","vt":"str"},{"t":"eq","v":"btnC","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":900,"y":720,"wires":[["d1a8e7ac7d563118"],["394b557ac9c274f7"]]},{"id":"394b557ac9c274f7","type":"change","z":"d03b212a2ac08648","g":"933e9b51d9510f85","name":"Apagar SI NO","rules":[{"t":"set","p":"payload","pt":"msg","to":"05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":440,"wires":[["a70ba3addd0c029b","df74fa28f7022330"]]},{"id":"3b7dddf74b677a8f","type":"change","z":"d03b212a2ac08648","g":"933e9b51d9510f85","name":"Apagar Pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":520,"wires":[["c5b4d76f48c079e1","df74fa28f7022330"]]},{"id":"a70ba3addd0c029b","type":"delay","z":"d03b212a2ac08648","g":"933e9b51d9510f85","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1230,"y":480,"wires":[["3b7dddf74b677a8f"]]},{"id":"c5b4d76f48c079e1","type":"change","z":"d03b212a2ac08648","g":"933e9b51d9510f85","name":"No EsperandoRespuesta","rules":[{"t":"set","p":"esperandoRespuesta","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":560,"wires":[["d1dadd12cd0835ed"]]},{"id":"d1a8e7ac7d563118","type":"change","z":"d03b212a2ac08648","g":"b2d8b4a357178b42","name":"Estan Solos?","rules":[{"t":"set","p":"payload","pt":"msg","to":"Necesito que no se entere el bibliotecario, Estan solos?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":680,"wires":[["b1a5295fc9839c23","c52735ab416e1a96"]]},{"id":"8120bd676afd402e","type":"change","z":"d03b212a2ac08648","g":"b2d8b4a357178b42","name":"Etapa 2","rules":[{"t":"set","p":"etapa","pt":"flow","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":815,"wires":[["f8f08d54d7ababc0"]]},{"id":"f8f08d54d7ababc0","type":"change","z":"d03b212a2ac08648","g":"b2d8b4a357178b42","name":"EsperandoRespuesta","rules":[{"t":"set","p":"esperandoRespuesta","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":860,"wires":[[]]},{"id":"c467989235282383","type":"change","z":"d03b212a2ac08648","g":"0f4f6f081f33361a","name":"Apagar SI NO","rules":[{"t":"set","p":"payload","pt":"msg","to":"05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":60,"wires":[["a51bebfdd8c7d0a1","b91b79014998d22b"]]},{"id":"a51bebfdd8c7d0a1","type":"delay","z":"d03b212a2ac08648","g":"0f4f6f081f33361a","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":100,"wires":[["431ea0f154b9b55a"]]},{"id":"431ea0f154b9b55a","type":"change","z":"d03b212a2ac08648","g":"0f4f6f081f33361a","name":"Apagar Pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["17e5ad56a6ed5bfd","b91b79014998d22b"]]},{"id":"17e5ad56a6ed5bfd","type":"change","z":"d03b212a2ac08648","g":"0f4f6f081f33361a","name":"EsperandoRespuesta","rules":[{"t":"set","p":"esperandoRespuesta","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["9be5b1aafbbb4f8d"]]},{"id":"9be5b1aafbbb4f8d","type":"change","z":"d03b212a2ac08648","g":"0f4f6f081f33361a","name":"","rules":[{"t":"set","p":"etapa","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[[]]},{"id":"ed694ab62afb4cc0","type":"inject","z":"d03b212a2ac08648","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["c467989235282383"]]},{"id":"7f5c1fb4ce60ee8f","type":"switch","z":"d03b212a2ac08648","name":"Ver Respuesta","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"btnA","vt":"str"},{"t":"eq","v":"btnC","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":920,"y":800,"wires":[["62f05a0181a7062b"],["93c8459166c648b9"]]},{"id":"93c8459166c648b9","type":"change","z":"d03b212a2ac08648","g":"601927a4e072b6ec","name":"Apagar SI NO","rules":[{"t":"set","p":"payload","pt":"msg","to":"05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":840,"wires":[["dc4f42edbcca30fb","362690afa073cd30"]]},{"id":"1d66e4e60807ace7","type":"change","z":"d03b212a2ac08648","g":"601927a4e072b6ec","name":"Apagar Pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1000,"wires":[["c5b5745f2d5da4fa","362690afa073cd30"]]},{"id":"dc4f42edbcca30fb","type":"delay","z":"d03b212a2ac08648","g":"601927a4e072b6ec","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1230,"y":880,"wires":[["5b80c8fc393eeb1a"]]},{"id":"c5b5745f2d5da4fa","type":"change","z":"d03b212a2ac08648","g":"601927a4e072b6ec","name":"No EsperandoRespuesta","rules":[{"t":"set","p":"esperandoRespuesta","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1040,"wires":[["54b4bb60153b3b02"]]},{"id":"5b80c8fc393eeb1a","type":"change","z":"d03b212a2ac08648","g":"601927a4e072b6ec","name":"Me comunico mas tarde","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ok, me comunicare mas tarde, no puedo correr riesgos","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":920,"wires":[["c16702d43bdb3a57","362690afa073cd30"]]},{"id":"c16702d43bdb3a57","type":"delay","z":"d03b212a2ac08648","g":"601927a4e072b6ec","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1240,"y":960,"wires":[["1d66e4e60807ace7"]]},{"id":"d1dadd12cd0835ed","type":"delay","z":"d03b212a2ac08648","g":"933e9b51d9510f85","name":"","pauseType":"random","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"15","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1220,"y":620,"wires":[["a1f2dada18d169af"]]},{"id":"a1f2dada18d169af","type":"switch","z":"d03b212a2ac08648","g":"933e9b51d9510f85","name":"Todavia en etapa 1","property":"etapa","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":700,"wires":[["adc6763d2d120419"]]},{"id":"20471d8a1251d6df","type":"change","z":"d03b212a2ac08648","g":"39bd31bf55b04c59","name":"Buzzer","rules":[{"t":"set","p":"payload","pt":"msg","to":"01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":520,"wires":[["bd9417d407a16805","60d5d57fa6703ce9"]]},{"id":"81a71889f46eabe1","type":"delay","z":"d03b212a2ac08648","g":"39bd31bf55b04c59","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":480,"wires":[["20471d8a1251d6df"]]},{"id":"34fcc89ac134c001","type":"link in","z":"d03b212a2ac08648","name":"send 2 MQTT","links":["60d5d57fa6703ce9","b91b79014998d22b","b1a5295fc9839c23","df74fa28f7022330","362690afa073cd30","470985f3691a0c25","15c03bab2e2c48ce"],"x":755,"y":140,"wires":[["26b430d68773421f"]]},{"id":"b91b79014998d22b","type":"link out","z":"d03b212a2ac08648","name":"Out MQTT","mode":"link","links":["34fcc89ac134c001"],"x":575,"y":80,"wires":[]},{"id":"60d5d57fa6703ce9","type":"link out","z":"d03b212a2ac08648","g":"39bd31bf55b04c59","name":"Out MQTT","mode":"link","links":["34fcc89ac134c001"],"x":535,"y":440,"wires":[]},{"id":"b1a5295fc9839c23","type":"link out","z":"d03b212a2ac08648","g":"b2d8b4a357178b42","name":"Out MQTT","mode":"link","links":["34fcc89ac134c001"],"x":385,"y":740,"wires":[]},{"id":"df74fa28f7022330","type":"link out","z":"d03b212a2ac08648","g":"933e9b51d9510f85","name":"Out MQTT","mode":"link","links":["34fcc89ac134c001"],"x":1425,"y":500,"wires":[]},{"id":"ee2e208a9609ebda","type":"link in","z":"d03b212a2ac08648","g":"39bd31bf55b04c59","name":"Mensaje Inicial","links":["adc6763d2d120419"],"x":205,"y":340,"wires":[["eaa957f4c0193ee6"]]},{"id":"adc6763d2d120419","type":"link out","z":"d03b212a2ac08648","g":"933e9b51d9510f85","name":"link out 4","mode":"link","links":["ee2e208a9609ebda"],"x":1385,"y":640,"wires":[]},{"id":"362690afa073cd30","type":"link out","z":"d03b212a2ac08648","g":"601927a4e072b6ec","name":"Out MQTT","mode":"link","links":["34fcc89ac134c001"],"x":1475,"y":920,"wires":[]},{"id":"88b183f0a47d4ae1","type":"link in","z":"d03b212a2ac08648","g":"b2d8b4a357178b42","name":"estan solos?","links":["09769b845a18c84f"],"x":55,"y":680,"wires":[["d1a8e7ac7d563118"]]},{"id":"09769b845a18c84f","type":"link out","z":"d03b212a2ac08648","g":"601927a4e072b6ec","name":"salida a mensaje 2","mode":"link","links":["88b183f0a47d4ae1"],"x":1465,"y":1040,"wires":[]},{"id":"54b4bb60153b3b02","type":"delay","z":"d03b212a2ac08648","g":"601927a4e072b6ec","name":"","pauseType":"random","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"20","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1240,"y":1120,"wires":[["09769b845a18c84f"]]},{"id":"62f05a0181a7062b","type":"change","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"Explica la mecánica","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cada vez que yo pueda comunicarme con ustedes, aparecera el simbolo \"?\" como el que veran ahora.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":1020,"wires":[["470985f3691a0c25","ea663e183ebfd18f"]]},{"id":"c9908ae6419c2682","type":"change","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"Símbolo ?","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1230,"wires":[["470985f3691a0c25","8b297c15114cac66"]]},{"id":"e17920ae994f2656","type":"delay","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":1146,"wires":[["490ad292986d845d"]]},{"id":"470985f3691a0c25","type":"link out","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"Out MQTT","mode":"link","links":["34fcc89ac134c001"],"x":355,"y":1125,"wires":[]},{"id":"04ec1dc3db07ac42","type":"change","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"Mensaje presiona símbolo","rules":[{"t":"set","p":"payload","pt":"msg","to":"Presiona el simbolo para que sepa que estamos comunicados","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1398,"wires":[["470985f3691a0c25","4eaccd7d9340370d"]]},{"id":"9c73b0dead1b80ae","type":"delay","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":1356,"wires":[["04ec1dc3db07ac42"]]},{"id":"490ad292986d845d","type":"change","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"Etapa 3","rules":[{"t":"set","p":"etapa","pt":"flow","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1188,"wires":[["c9908ae6419c2682"]]},{"id":"75573ba8ad640e68","type":"change","z":"d03b212a2ac08648","g":"b2d8b4a357178b42","name":"SI NO","rules":[{"t":"set","p":"payload","pt":"msg","to":"04","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":770,"wires":[["8120bd676afd402e","b1a5295fc9839c23"]]},{"id":"c52735ab416e1a96","type":"delay","z":"d03b212a2ac08648","g":"b2d8b4a357178b42","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":230,"y":725,"wires":[["75573ba8ad640e68"]]},{"id":"fd6f95e8f22135b9","type":"change","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"Apagar SI NO","rules":[{"t":"set","p":"payload","pt":"msg","to":"05","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1104,"wires":[["e17920ae994f2656","470985f3691a0c25"]]},{"id":"ea663e183ebfd18f","type":"delay","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":170,"y":1062,"wires":[["fd6f95e8f22135b9"]]},{"id":"4eaccd7d9340370d","type":"change","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"EsperandoRespuesta","rules":[{"t":"set","p":"esperandoRespuesta","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1440,"wires":[[]]},{"id":"0103a2adababf980","type":"switch","z":"d03b212a2ac08648","name":"Ver Respuesta","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"btnQ","vt":"str"},{"t":"neq","v":"btnQ","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":860,"y":960,"wires":[["478e342c222ba994"],[]]},{"id":"478e342c222ba994","type":"change","z":"d03b212a2ac08648","g":"6aa6bc08c8ad896b","name":"Se despide","rules":[{"t":"set","p":"payload","pt":"msg","to":"Excelente, esten atentos","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1180,"wires":[["15c03bab2e2c48ce","136c7f5cca53555d"]]},{"id":"15c03bab2e2c48ce","type":"link out","z":"d03b212a2ac08648","g":"6aa6bc08c8ad896b","name":"Out MQTT","mode":"link","links":["34fcc89ac134c001"],"x":825,"y":1240,"wires":[]},{"id":"136c7f5cca53555d","type":"delay","z":"d03b212a2ac08648","g":"6aa6bc08c8ad896b","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":620,"y":1240,"wires":[["701b70563a0c0bb9"]]},{"id":"701b70563a0c0bb9","type":"change","z":"d03b212a2ac08648","g":"6aa6bc08c8ad896b","name":"Apagar Pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1300,"wires":[["15c03bab2e2c48ce","95c5a7ce5d9ea081"]]},{"id":"95c5a7ce5d9ea081","type":"change","z":"d03b212a2ac08648","g":"6aa6bc08c8ad896b","name":"Etapa 10 (pistas)","rules":[{"t":"set","p":"etapa","pt":"flow","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1340,"wires":[["4f6073c98e0158d1"]]},{"id":"4f6073c98e0158d1","type":"change","z":"d03b212a2ac08648","g":"6aa6bc08c8ad896b","name":"No EsperandoRespuesta","rules":[{"t":"set","p":"esperandoRespuesta","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1380,"wires":[[]]},{"id":"8b297c15114cac66","type":"delay","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":170,"y":1272,"wires":[["7bacceb82a095e11"]]},{"id":"7bacceb82a095e11","type":"change","z":"d03b212a2ac08648","g":"c133124137c8dbeb","name":"Buzzer","rules":[{"t":"set","p":"payload","pt":"msg","to":"01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1314,"wires":[["470985f3691a0c25","9c73b0dead1b80ae"]]},{"id":"2c374c481a01c20d","type":"mqtt-broker","name":"","broker":"homeassistant.local","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]